#telegram-calculator {
  position: fixed;
  text-decoration: none;
  color: white;
  bottom: 30px;
  right: 30px;
  padding: 18px 20px;
  background: #3498db;
  font-size: 16px;
  letter-spacing: 1.1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 3px;
  transition: all 0.3s;
}

#telegram-calculator i {
  font-size: 22px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

#telegram-calculator:hover {
  background: #63b9f3;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.h {
  margin: 0 0 60px;
}

.vuz-name-h3 {
  margin-top: 10px;
  font-size: 22px;
  color: #95cc7f;
  text-align: center;
}

.vuz-btn {
  cursor: pointer;
  font-weight: bold;
  color: #331e1e;
  margin: 0 0 40px;
  font-size: 28px;
  width: 100%;
  background-color: #d7d7d73c;
  padding: 20px;
  border-radius: 50px;
  border: none;
  outline: none;
}

.vuz-btn:last-child {
  margin-bottom: 20px;
}

#back-btn {
  position: fixed;
  bottom: 40px;
  left: 10.5%;
}

#back-to-list {
  position: fixed;
  bottom: 40px;
  left: 8%;
}

#calculate-btn {
  position: fixed;
  bottom: 50%;
  left: 12.9%;
  transform: translate(-50%);
}

#back-btn,
#back-to-list,
#calculate-btn {
  padding: 15px;
  background-color: #464646;
  color: white;
  border: 1px solid rgba(183, 183, 183, 0.434);
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
}

.event {
  margin-bottom: 30px;
}

.content_bds {
  width: 80%;
  margin: 20px auto;
  border: 5px solid #333;
  border-radius: 10px;
  padding: 20px;
  background: rgba(248, 249, 250, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.content_bds h1 {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  position: relative;
}

.content_bds h1::before,
.content_bds h1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(to right, #333, #ccc, #333);
  transform: translateY(-50%);
}

.content_bds h1 span {
  display: inline-block;
  padding: 0 10px;
  background: #fff;
  z-index: 1;
  position: relative;
}

.content_bds h2 {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}

.content_bds h2::before,
.content_bds h2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(to right, #333, #ccc, #333);
  transform: translateY(-50%);
}

.content_bds h2 span {
  display: inline-block;
  padding: 0 10px;
  background: #fff;
  z-index: 1;
  position: relative;
}

.content_bds h3 {
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  margin-bottom: 10px;
  position: relative;
}

.content_bds h3 span {
  display: inline-block;
  padding-left: 15px;
  background: #fff;
  z-index: 1;
  position: relative;
}

.content_bds p {
  margin-bottom: 10px;
  text-align: justify;
}

.content_bds p::before {
  content: "•";
  display: inline-block;
  width: 20px;
  color: #333;
}

.part-of-data {
  margin-bottom: 35px;
}

.part-of-data ul {
  padding: 0;
  list-style: none;
  margin-left: 15px;
  margin-bottom: 10px;
}

.part-of-data ul li::before {
  content: "✓";
  display: inline-block;
  width: 20px;
  color: green;
}

.part-of-data ul li {
  opacity: 0.8;
}

.content_bds {
  filter: hue-rotate(180deg);
}

.adding-achieve-to-calculate {
  background-color: #d76c6c;
  border: 1px solid #eb1818;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.899);
  margin-left: 10px;
  cursor: pointer;
}

.delete-achieve-from-calculate {
  background-color: #35b2f0;
  border: 1px solid #00aaff;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.899);
  margin-left: 10px;
  cursor: pointer;
}

.select-achieve {
  margin-left: 10px;
  font-size: 16px;
  background: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.select-achieve:focus {
  border-color: #3498db;
}

.choose-delete-status {
  display: flex;
  justify-content: space-between;
}

.status-and-ball {
  text-transform: uppercase;
  color: #9f3f3f;
}

#itog {
  margin: 30px 0;
  color: red;
  font-size: 32px;
  text-decoration: none;
  text-align: center;
}

#itog::before {
  content: "";
}
