#container {
    border: 1px solid #45a29e;
    padding: 30px;
    border-radius: 15px;
    background-color: #1f2833;
    font-size: 20px;
    width: 80%;
    max-width: 800px;
    color: #45a29e;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-transform: uppercase;
    color: #66fcf1;
    font-size: 2.5em;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

h2 {
    text-transform: uppercase;
    color: #c3073f;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 1.4em;
    text-align: center;
    animation: colorChange 5s infinite;
}

@keyframes colorChange {
    0% { color: #c3073f; }
    50% { color: #45a29e; }
    100% { color: #c3073f; }
}

#common-user-info {
    margin-bottom: 40px;
}

.edit-button, .save-button {
    background-color: #45a29e;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.edit-button:hover, .save-button:hover {
    background-color: #66fcf1;
    color: black;
}

input[type="text"] {
    background-color: #0b0c10;
    border: 1px solid #45a29e;
    color: #45a29e;
    padding: 5px;
    border-radius: 5px;
}

input[type="text"]:focus {
    border-color: #66fcf1;
    outline: none;
    box-shadow: 0 0 10px #66fcf1;
}

#btn-to-exit {
    background-color: #2C3E50;
    color: #ECF0F1;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 25%;
    font-weight: bold;
    display: inline-block;
    display: block;
    font-size: 16px;
    margin: 30px auto 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50px;
    border: 2px solid #ECF0F1;
}

#btn-to-exit:hover {
    background-color: #ECF0F1;
    color: #2C3E50;
    border: 2px solid #2C3E50;
}
