#container {
  padding: 0;
  min-height: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#nav-post {
  background-color: rgba(0, 0, 0, 0.533);
  padding: 20px;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#nav-post-inside {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s all;
}

.nav-item:hover {
  opacity: 0.5;
}

#container-content {
  display: none;
  padding: 20px;
}

#content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  overflow-wrap: break-word; 
}

#empty-p {
  margin: 15px auto;
  color: rgba(222, 219, 219, 0.352);
  font-size: 18px;
  text-transform: uppercase;
}

.card h2,
.card p {
  margin: 0;
}

.card h2 {
  text-align: left;
  font-size: 24px;
  color: black;
}

.card p {
  color: #505050;
  font-size: 20px;
  margin: 100px 0 0;
}

.card button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.card button:hover {
  background-color: #0056b3;
}

.card button i {
  font-size: 20px;
  transition: all 0.3s;
}

.card button:hover i {
  color: red;
}
