<div style="display: none;" id="counter">{{ counter }}</div>
{% for event in achieve_list %}
<div class="click-event">
    <div class="select-event" onclick="selectAchieve('{{ razdel }}{{ forloop.counter }}')">
        <input type="checkbox" class="input-achieve" id="input-achieve-{{ razdel }}{{ forloop.counter }}">
        <label id="label-achieve-{{ razdel }}{{ forloop.counter }}" class="label-achieve">{{ event }}</label>
    </div>
    <select class="select-achieve" id="select-achieve-{{ razdel }}{{ forloop.counter }}" onchange="changeStatus('{{ razdel }}{{ forloop.counter }}', this)">
        <option value="adding_points_uchastnik">Участник</option>
        <option value="adding_points_prizer">Призер</option>
        <option value="adding_points_pobeditel">Победитель</option>
        <option value="adding_points_laureat">Лауреат</option>
    </select>
</div>
{% endfor %}