{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятор ИД</title>
    <link rel="stylesheet" href="{% static 'main_page/css/common_styles.css' %}">
    <link rel="stylesheet" href="{% static 'calculator_id/css/calculator_id.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    {% include 'common_html.html' %}
    <div id="container">
        {% csrf_token %}
        <div id="choose-vuz">
            <div class="h">
                <h1>ВЫБЕРИТЕ ВУЗ</h1>
            </div>
            <div id="vuzes">
                {% for eng_vuz, rus_vuz in vuzes %}
                <button class="vuz-btn" id="{{ eng_vuz }}" onclick="chooseVuz('{{ rus_vuz }}', '{{ eng_vuz }}')">
                    <span>{{rus_vuz}}</span>
                </button>
                {% endfor %}
            </div>
        </div>
        <div id="choose-achieves" style="display: none;">
            <div class="h">
                <h1>ДОБАВЬТЕ ВСЕ ДОСТИЖЕНИЯ</h1>
                <h3 class="vuz-name-h3" id="vuz-name-h3"></h3>
            </div>
            <div class="content_bds" id="content_bds">
                {% include 'achieves_from_vuz.html' %}
            </div>
        </div>
        <div id="calculated-info" style="display: none;">
            <div class="h">
                <h1>РЕЗУЛЬТАТЫ ПОДСЧЁТА</h1>
                <h3 class="vuz-name-h3" id="vuz-name-h3-calculated"></h3>
            </div>
            <div>
                <div class="content_bds" id="content_bds_calculated">
                    {% include 'calculated_info.html' %}
                </div>
            </div>
        </div>
    </div>
    <button id="back-to-list" onclick="backToListFunc()" style="display: none;"><span>К достижениям</span></button>
    <button id="back-btn" onclick="backBtn()" style="display: none;"><span>Назад</span></button>
    <button id="calculate-btn" style="display: none;" onclick="calculate()"><span>Подсчитать</span></button>
    <a id="telegram-calculator" target="_blank" href="https://t.me/search_universities_bot"><i class="fab fa-telegram"></i>Калькулятор в тг!</a>
    <script src="{% static 'calculator_id/js/calculator_id.js' %}"></script>
</body>
</html>