{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вход</title>
    <link
      rel="stylesheet"
      href="{% static 'sign_login/css/sign_login.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <a href="{% url 'main_page' %}" class="link" id="main-link">На главную</a>
      <h1>Вход</h1>
      {% if messages %} {% for message in messages %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
      {% endfor %} {% endif %}
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="email">Почта:</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="password1">Пароль:</label>
          <input type="password" id="password1" name="password1" required />
          <button
            type="button"
            class="toggle-button-visible"
            id="toggle-button-visible1"
          >
            👁️
          </button>
        </div>
        <input type="submit" value="Войти" id="send-btn" />
      </form>
      <a href="{% url 'register' %}" class="link" id="login-link"
        >Ещё нет аккаунта? Зарегистрируетесь тут
      </a>
    </div>
    <script src="{% static 'sign_login/js/sign_login.js' %}"></script>
  </body>
</html>
