#about {
  display: none;
}

#about_h1 {
  text-align: center;
}

#start_test {
  display: block;
  margin: 0 auto;
  font-size: 18px;
}

#test {
  margin: 20px auto;
  width: 80%;
  border: 5px solid #333;
  border-radius: 10px;
  padding: 20px;
  background: rgba(248, 249, 250, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  line-height: 1.5;
  color: #333;
  display: none;
}

.question {
  position: relative;
  min-height: 350px;
  padding: 20px 0 70px;
  display: none;
}

.question h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  position: relative;
}

.question h2::before,
.question h2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(to right, #333, #ccc, #333);
  transform: translateY(-50%);
}

.question h2 span {
  display: inline-block;
  padding: 0 10px;
  background: #fff;
  z-index: 1;
  position: relative;
}

.question p {
  margin: 40px 0 15px;
  text-align: center;
  font-size: 18px;
}

.warning {
  padding: 0;
  margin: 0;
  color: red;
  opacity: 0;
}

@keyframes opacity_anim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.opacity_anim {
  animation-name: opacity_anim;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.question_container {
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 2px solid #4caf50;
  border-radius: 5px;
  margin-bottom: 20px;
}

.question_container input[type="radio"] {
  margin: 0 10px;
  cursor: pointer;
}

.question_container label {
  cursor: pointer;
  font-weight: bold;
  color: #4caf50;
  margin: 0 30px 0 0;
}


.next_question,
#end_test {
  font-family: inherit;
  display: block;
  position: absolute;
  font-size: 16px;
  right: 5px;
  bottom: 5px;
  outline: none;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.back_question {
  font-family: inherit;
  display: block;
  position: absolute;
  font-size: 16px;
  left: 5px;
  bottom: 5px;
  outline: none;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.back_question:hover {
  background-color: lightcoral;
}

.next_question:hover {
  background-color: aquamarine;
}

#end_test:hover {
  background-color: lightskyblue;
}

#resultBlock {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  transform: translateY(100%);
  opacity: 0;
  display: none;
  transition: all 0.5s ease;
}

#resultBlock.show {
  display: block;
  transform: translateY(0);
  opacity: 1;
}

#resultH2 {
  background: -webkit-linear-gradient(left, #3498db, #9b59b6, #e67e22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: fadeIn 1s;
}

#more-details {
  background-color: #3498db;
  color: #fff;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: fadeIn 1s;
}

#sum-of-points {
  color: rgb(109, 109, 109);
  font-size: 16px;
}

#resultP, #detail-res {
  color: #333;
  font-size: 1.2em;
  line-height: 1.6;
  animation: fadeIn 1s;
  font-family: 'Georgia', serif;
}

#resultP {
  text-align: center;
}

#detail-res {
  text-align: justify;
}

#more-details:hover {
  background-color: #2980b9;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


@keyframes flip-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
} 





/* #repeat_test {
  display: none;
  margin: 0 auto;
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: black;
  padding: 10px 15px;
  border-radius: 50px;
  color: #fff;
  font-size: 24px;
  transition: transform 0.3s ease-in;
  animation: appear 2s ease-in-out;
}

#repeat_test:hover {
  transform: scale(1.1);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0) translateY(-50%);
  }
  50% {
    transform: scale(1.2) translateY(0);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
} */
