{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<footer id="myFooter">
    <div class="footer-section">
        <h3>Часто задаваемые вопросы</h3>
        <p><a href="{% url 'show_faq' %}"><i class="fas fa-question-circle""></i></a></p>
    </div>
    <div class="footer-section">
        <h3>Оцените сайт</h3>
        <div id="rating-block">
            <p><a href="#" id="rate-link">Оценить</a></p>
            <div id="rating-panel" style="display: none;">
                <div id="rating">
                    <div data-value="5">
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                    </div>
                </div>
                <div id="data-about-rating">
                    <p>hi</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-section">
        <h3>Контакты</h3>
        <p><a href="mailto:arttim1019@gmail.com">Написать на почту</a></p>
    </div>
</footer>
