{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div id="zatemnitel"></div>
<nav id="nav">
    <a href="{% url 'main_page' %}" id="logo"><img src="{% static 'main_page/images/vuz.jpg' %}" alt=""></a>
    <div id="navbar">
        <ul id="navbar_ul">
            <li><button class="btn"><a class="nav_a {% if request.resolver_match.url_name == 'main_page' %}active{% endif %}" href="{% url 'main_page' %}">Главная</a></button></li>
            <li><button class="btn"><a class="nav_a {% if request.resolver_match.url_name == 'individual_achievements_vuz' %}active{% endif %}" href="{% url 'individual_achievements_vuz' %}">ИД вузов</a></button></li>
            <li><button class="btn"><a class="nav_a {% if request.resolver_match.url_name == 'description_ID' %}active{% endif %}" href="{% url 'description_ID' %}">Описание ИД</a></button></li>
            <li><button class="btn"><a class="nav_a {% if request.resolver_match.url_name == 'individual_testing' %}active{% endif %}" href="{% url 'individual_testing' %}">Тест</a></button></li>
            <li><button class="btn"><a class="nav_a {% if request.resolver_match.url_name == 'calculator' %}active{% endif %}" href="{% url 'calculator' %}">Калькулятор ИД</a></button></li>            
            {% if first_name %}
            <li id="user-li">
                <div class="dropdown ">
                    <button id="name-here" class="dropbtn {% if request.resolver_match.url_name == 'user_profile' %}active{% endif %} btn">{{ first_name }}</button>
                    <i class="fa fa-chevron-down arrDown"></i>
                    <div class="dropdown-content">
                        <a href="{% url 'user_profile' %}">Профиль</a>
                    </div>
                </div>
            </li>
            {% else %}
            <li id="sign-login-li">
                <div class="dropdown">
                    <button class="dropbtn btn">Регистрация/Вход</button>
                    <div class="dropdown-content">
                        <a href="{% url 'register' %}">Регистриация</a>
                        <a href="{% url 'login' %}">Вход</a>
                    </div>
                    <i class="fa fa-chevron-down arrDown"></i>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<i id="theme-icon" class="fas fa-moon theme-icon"></i>
<div class="notification" id="smth-wrong">
    <i id="cross3" class="fas fa-times cross" onclick="closeWindow('smth-wrong')"></i>
    <p class="notification-p" id="wrong-p">Авторизуйтесь на сайт!</p>
</div>
<button id="favorites_btn">
    <img id="favorites_img" src="{% static 'main_page/images/favorites.png' %}" onclick="openFavorites()">
</button>
<div id="achievement-url" data-url="{% url 'individual_achievements_vuz' %}" style="display: none;"></div>
<div id="favorites-site">
    <div id="favorites-panel">
        <i id="cross4" class="fas fa-times cross" onclick="closeWindow('favorites-site')"></i>
        <div id="favorites-nav">
            <span id="main-span-fav">Избранное</span>
            <div id="favorites-links">
                <p class="nav_a" onclick="showFavorites('vuzes')">ИД вузов</p>
                <p class="nav_a" onclick="showFavorites('description')">Описание ИД</p>
            </div>
        </div>
        <div id="section-content">
            <!-- сюда запишутся данные с сервера -->
        </div>
    </div>
</div>
<script src="{% static 'main_page/js/common_js.js' %}"></script>