{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'main_page/css/faq.css' %}">
</head>
<body>
    <a href="{% url 'main_page' %}">
        <button id="back-link">
            <i class="fas fa-arrow-left arrow-left"></i>
        </button>
    </a>
    <div id="container">
        <div id="examples">
            <h2>Примеры документов</h2>
            <div id="examples-documents">
                <div class="faq-item">
                    <h3>Пример 1</h3>
                    <a href="{% static 'main_page/images/пример1.jpg' %}"><img src="{% static 'main_page/images/пример1.jpg' %}" alt="FAQ Example 1"></a>
                </div>
                <div class="faq-item">
                    <h3>Пример 2</h3>
                    <a href="{% static 'main_page/images/пример2.jpg' %}"><img src="{% static 'main_page/images/пример2.jpg' %}" alt="FAQ Example 2"></a>
                </div>
                <div class="faq-item" id="example3">
                    <h3>Пример 3</h3>
                    <a href="{% static 'main_page/images/пример3.jpg' %}"><img src="{% static 'main_page/images/пример3.jpg' %}" alt="FAQ Example 3"></a>
                </div>
                <div class="faq-item">
                    <h3>Пример 4</h3>
                    <a href="{% static 'main_page/images/пример4.jpg' %}"><img src="{% static 'main_page/images/пример4.jpg' %}" alt="FAQ Example 4"></a>
                </div>
                <div class="faq-item">
                    <h3>Пример 5</h3>
                    <a href="{% static 'main_page/images/пример5.jpg' %}"><img src="{% static 'main_page/images/пример5.jpg' %}" alt="FAQ Example 5"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>