{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'main_page/css/common_styles.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/main_page.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/basement.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    {% include 'common_html.html' %}
    <div id="container">
        <div class="creative_container">
            <span id="creative_span"></span>
            <span id="cursor"></span>
        </div>
        <div class="description">
            <div class="purpose">
                <h3 class="purpose_h3">Что вы можете найти на сайте?</h3>
                <p class="purpose_p">На нашем веб-сайте вы найдете полезную информацию о том, какие индивидуальные достижения учитываются при поступлении в некоторые вузы, что каждое ИД из себя представляет, их описание, посмотреть пример документа, подтверждающего ваши ИД. Также есть возможность пройти бесплатные тесты.</p>
            </div>
            <div class="what_is">
                <h3 class="what_is_h3">Что такое индивидуальные достижения?</h3>
                <p class="what_is_p">Индивидуальные достижения — это любые награды, признания, публикации, проекты, работы, которые вы получили или сделали в течение своей учебы или внеучебной деятельности. Это может быть победа или призовое место на олимпиаде, конкурсе, фестивале, спортивном соревновании, научная статья, творческая работа, волонтерская акция и т.д.</p>
            </div>
            <div class="why_they_needed">
                <h3 class="why_they_needed_h3">Зачем нужны индивидуальные достижения?</h3>
                <p class="why_they_need_p">При поступлении в вузы вы можете получить дополнительные баллы за свои индивидуальные достижения, которые будут учитываться вместе с результатами ЕГЭ или внутренних экзаменов. Каждый вуз самостоятельно определяет, какие достижения учитывать, за что и сколько давать баллов, и публикует эту информацию на своем сайте не позднее 1 ноября предшествующего года приема.</p>
            </div>
        </div>
    </div>
    <div id="zatemnitel">
        <div id="rating-site">
            <div id="rating-panel">
                <i id="cross1" class="fas fa-times cross" onclick="closeWindow('rating-site')"></i>
                <p class="amount-ratings">Всего оценок:</p>
                <p class="amount-ratings" id="res-amount">{{all_rates}}</p>
                <div id="rating">
                    <i class="fas fa-angry fa-2x" style="color: red;" onclick="getRate(1)"><span>{{count_rates.1}}</span></i>
                    <i class="fas fa-frown fa-2x" style="color: orange;" onclick="getRate(2)"><span>{{count_rates.2}}</span></i>
                    <i class="fas fa-meh fa-2x" style="color: yellow;" onclick="getRate(3)"><span>{{count_rates.3}}</span></i>
                    <i class="fas fa-smile fa-2x" style="color: green;" onclick="getRate(4)"><span>{{count_rates.4}}</span></i>
                    <i class="fas fa-grin fa-2x" style="color: lime;" onclick="getRate(5)"><span>{{count_rates.5}}</span></i>
                </div>
            </div>
        </div>
    </div>
    <div class="notification" id="thanks-for-rating">
        <i id="cross2" class="fas fa-times cross" onclick="closeWindow('thanks-for-rating')"></i>
        <p class="notification-p" id="thanks-p">Спасибо за отзыв!</p>
    </div>
    <div class="notification" id="smth-wrong">
        <i id="cross3" class="fas fa-times cross" onclick="closeWindow('smth-wrong')"></i>
        <p class="notification-p" id="wrong-p">Авторизуйтесь на сайт!</p>
    </div>
    <footer id="myFooter">
        <div class="footer-section">
            <h3>Часто задаваемые вопросы</h3>
            <p><a href="{% url 'show_faq' %}"><i class="fas fa-question-circle""></i></a></p>
        </div>
        <div class="footer-section">
            <h3>Оценить сайт</h3>
            <p onclick="openRating()"><a href="#" id="rate-link">Оценить</a></p>
        </div>
        <div class="footer-section">
            <h3>Контакты</h3>
            <p><a href="mailto:arttim1019@gmail.com">Связаться со мной</a></p>
        </div>
    </footer>
    <script src="{% static 'main_page/js/main_page.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>