{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="{% static 'main_page/css/common_styles.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/user_profile.css' %}">
</head>
<body>
    {% include 'common_html.html' %}
    <div id="container">
        {% csrf_token %}
        <h1 id="h1-profile">ваш профиль</h1>
        <h2 id="user-status">{{ status }}</h2>
        <div id="common-user-info">
            <div id="user-first-name">
                <span>Имя: <span id="first-name-text">{{ user.first_name }}</span></span>
                <button class="edit-button" id="edit-button-first" onclick="editUserData('edit-field-first')"><i class="fas fa-pencil-alt"></i></button>
                <div id="edit-field-first" class="edit-field" style="display: none;">
                    <input type="text" id="first-name-input" value="{{ user.first_name }}" maxlength="15">
                    <button class="save-button" id="save-button-first" onclick="saveUserData('first-name-input', 'first-name-text')"><i class="fas fa-check"></i></button>
                </div>
            </div>
            <div id="user-last-name">
                <span>Фамилия: <span id="last-name-text">{{ user.last_name }}</span></span>
                <button class="edit-button" id="edit-button-last" onclick="editUserData('edit-field-last')"><i class="fas fa-pencil-alt"></i></button>
                <div id="edit-field-last" class="edit-field" style="display: none;">
                    <input type="text" id="last-name-input" value="{{ user.last_name }}" maxlength="30">
                    <button class="save-button" id="save-button-last" onclick="saveUserData('last-name-input', 'last-name-text')"><i class="fas fa-check"></i></button>
                </div>
            </div>
            <p id="user-email">Почта: {{ user.email }}</p>
        </div>
        <a id="btn-to-exit"href="{% url 'logout' %}">Выйти из аккаунта</a>
    </div>
    <script src="{% static 'main_page/js/common_js.js' %}"></script>
</body>
</html>