{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Индвивидуальные достижения</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'main_page/css/common_styles.css' %}">
    <link rel="stylesheet" href="{% static 'achievements/css/individual_for_vuz.css' %}">
  </head>
  <body>
    {% include 'common_html.html' %}
    <button class="disp_none" id="btn-hide" onclick="closeDetails()">Скрыть</button>
    <div id="container">
      <div id="searchBox">
        <input id="searchInput" type="text" name="" placeholder="Введите ВУЗ", oninput="searchButtons()">
        <button id="searchButton" href="#">
            <i class="material-icons">
                <i class="fa fa-search"></i>
            </i>
        </button>
      </div>
      <div id="datas">
        <div class="blocks_data">
          {% for table_name, queryset in vuzes_data %}
            <article id="bd{{forloop.counter}}">
              <button class="article_btns" id="article_btn{{forloop.counter}}" onclick="getDetails(this)">
                <i class="fas fa-chevron-down arrs" id="arr{{forloop.counter}}"></i>
                <span class>{{table_name}}</span>
              </button>
              <div class="content_bds disp_none" id="content_bd{{forloop.counter}}">
                <div class="searchBoxContent">
                  <div>
                    <input type="text" class="searchInputContext" id="searchInput{{forloop.counter}}" placeholder="Введите мероприятие">
                    <button class="submitValueBtn" onclick="getNameEvent('{{forloop.counter}}')"></button>
                  </div>
                </div>
                {% for item in queryset %}
                  <div class="content">
                    {% include 'data_from_bd.html' %}
                  </div>
                {% endfor %}
              </div>
            </article>
          {% endfor %}
        </div>
      </div>
    </div>
    <script src="{% static 'achievements/js/individual_for_vuz.js' %}"></script>
  </body>
</html>
