{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Индвивидуальные достижения</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'main_page/css/common_styles.css' %}">
    <link rel="stylesheet" href="{% static 'achievements/css/individual_for_vuz.css' %}">
  </head>
  <body>
    {% include 'common_html.html' %}
    <div id="container">
      <div id="searchBox">
        <input id="searchInput" type="text" name="" placeholder="Введите ВУЗ", oninput="searchButtons()">
        <button id="searchButton" href="#">
            <i class="material-icons">
                <i class="fa fa-search"></i>
            </i>
        </button>
      </div>
      <div id="datas">
        <div class="blocks_data">
          {% for table_name, queryset in data %}
            <article id="bd{{forloop.counter}}">
              <button class="article_btns buttons" id="article_btn{{forloop.counter}}" onclick="getDetails(this)">
                <img class="arrs" id="arr{{forloop.counter}}" src="{% static 'achievements/images/стрелка_вниз.png' %}" />
                <span class="btn_text">{{table_name}}</span>
              </button>
              <div class="content_bds disp_none" id="content_bd{{forloop.counter}}">
                {% for item in queryset %}
                  <div class="content">
                    <span id="number{{item.id}}" style="display: none;">{{item.number}}</span>
                    <span id="name{{item.id}}" style="display: none;">{{item.name}}</span>
                    <span id="category{{item.id}}" style="display: none;">{{item.category}}</span>
                    {% include 'data_from_bd.html' %}
                    <button class="adding-fav" id="adding-fav{{forloop.parentloop.counter}}{{item.id}}" onclick="addingFav('heart{{forloop.parentloop.counter}}{{item.id}}')">
                        <i class="fas fa-heart black" id="heart{{forloop.parentloop.counter}}{{item.id}}"></i>
                    </button>
                  </div>
                {% endfor %}
              </div>
            </article>
          {% endfor %}
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'achievements/js/individual_for_vuz.js' %}"></script>
    <script src="{% static 'main_page/js/common_js.js' %}"></script>
  </body>
</html>

