{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Пример портфолио</title>
    <link
    rel="stylesheet"
    href="{% static 'main_page/css/common_styles.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'example_ID/css/example_ID.css' %}"
    />
  </head>
  <body>
    {% include 'common_html.html' %}
    <div id="example-container">
      <div class="example-div" id="types-ID">
        <h2 class="example-h2">виды портфолио</h2>
        <table class="portfolio-table">
          <tr>
            <th>портфолио</th>
            <th>описание</th>
          </tr>
          <tr>
            <td>Творческое портфолио</td>
            <td>Это могут быть личные или университетские проекты. К творческому досье можно прикладывать рекомендации от преподавателей и наставников. Его просят на факультетах журналистики, дизайна, архитектуры и других</td>
          </tr>
          <tr>
            <td>Исследовательское портфолио</td>
            <td>Абитуриент предоставляет список научных публикаций и дипломы конференций.</td>
          </tr>
          <tr>
            <td>Комбинированное портфолио</td>
            <td>В портфолио включают как творческие, так и академические проекты.</td>
          </tr>
        </table>
      </div>
      <div class="example-div" id="format-ID">
        <h2 class="example-h2">Форматы портфолио</h2>
        <table class="portfolio-table">
          <tr>
            <th>Формат</th>
            <th>Описание</th>
          </tr>
          <tr>
            <td>Физическое портфолио</td>
            <td>Иногда вузы требуют бумажное портфолио, включающее фотографии, скетчбуки и чертежи. Работы нужно распечатать и предоставить в приемную комиссию лично или отправить почтой.</td>
          </tr>
          <tr>
            <td>Электронное портфолио</td>
            <td>Абитуриенты заранее создают нередактируемое портфолио в программе, сохраняют портфолио согласно требованиям университета и загружают в личный кабинет или предоставляют ссылку на облако.</td>
          <tr>
            <td>Онлайн-портфолио</td>
            <td>Иногда достаточно предоставить ссылку на портфолио на Behance или Wix, при условии соответствия критериям приемной комиссии. Университеты редко принимают портфолио в этом формате из-за возможности редактирования проектов после публикации.</td>
          </tr>
        </table>
      </div>
      <div class="example-div" id="structure">
        <h2 class="example-h2">структура портфолио</h2>
        <table class="portfolio-table">
            <tr>
              <th>Раздел</th>
              <th>Содержание</th>
            </tr>
            <tr>
              <td>Мой портрет</td>
              <td>Основная информация об авторе, краткая биография, личные фото и все то, что может охарактеризовать будущего студента с лучшей стороны.</td>
            </tr>
            <tr>
              <td>Документы</td>
              <td>Информация об основных образовательных достижениях, подтвержденная соответствующими сертификатами. Сюда можно приложить копии аттестата, грамот, дипломов об участии в олимпиадах, конкурсах, соревнованиях, табель с оценками, результаты различных тестирований и т. п.</td>
            </tr>
            <tr>
              <td>Работы</td>
              <td>Данные о различных проектах, в которых участвовал абитуриент, информация об основных направлениях учебной и творческой деятельности. Также обязательно следует поместить копии самих работ: рисунки, тексты, фотографии, которые отображают полноту и разнообразие личностных интересов.</td>
            </tr>
            <tr>
              <td>Отзывы</td>
              <td>В этом разделе автор помещает рецензии на свои работы, характеристики от преподавателей, наставников на творческую, научную и практическую деятельность.</td>
            </tr>
          </table>
      </div>
      <div id="download-btns">
        <button class="download-btn" id="download-example-btn">
          <a href="{% static 'example_ID/images/portfolio1.docx' %}" class="download-example-a"><i class="fa fa-download"></i>Скачать шаблон наполнения</a>
        </button>
        <button class="download-btn" id="download-ready-example-btn">
          <a href="" class="download-example-a"><i class="fa fa-download"></i>Скачать готовое портфолио</a>
        </button>
      </div>
    </div>
  </body>
</html>
