<div class="part_of_data">
  <h1><span>№: {{i.id}}</span></h1>
  <h2><span>Мероприятие: {{i.event|default:"нет информации"}}</span></h2>
  <h3><span></span>Вид мероприятия: {{i.type_of_event|default:"нет информации"}}</h3>
  <p>условия добавления баллов: {{i.conditions_for_adding|default:"нет информации"}}</p>
  <ul>
    <li>добавленные баллы участникам: {{i.adding_points_uchastnik|default:"нет информации"}}</li>
    <li>добавленные баллы призёрам: {{i.adding_points_prizer|default:"нет информации"}}</li>
    <li>добавленные баллы победителям: {{i.adding_points_pobeditel|default:"нет информации"}}</li>
    <li>добавленные баллы лауреатам: {{i.adding_points_laureat|default:"нет информации"}}</li>
  </ul>
</div>